body {
    background-color: black;
    color: #e0e0e0;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    color: #00ff88;
    text-align: center;
}

a {
    color: hotpink;
    text-decoration: none;
}

a:hover {
    color: #00ff88;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
}

#main-title {
    margin-bottom: 10px;
}

.subtitle {
    color: #888;
    margin-bottom: 30px;
    text-align: center;
}

.mission-list {
    list-style: none;
    padding: 0;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 15px;
    transition: 0.3s;
    box-shadow: 0 0 0 transparent ;
}

.card:hover {
    border-color: #00ff88;
    transform: translateY(-15px) scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 255, 136, 0.3);
}

.card a {
    display: block;
    font-weight: bold;
}